<div class="card ">
      <div class="conatiner">
        <div class="row">
          <div class="col-12 col-lg-12">
            <div class="col-md-12 col-lg-12">
              <app-home-cards></app-home-cards>
            </div>
          </div>
          <div class="col-12 col-lg-12">
            <div class="row">
              <div class="col-6 col-lg-6">
                <div class="container p-2">
                  
                  <app-today-attendance></app-today-attendance>
                </div>
              </div>
              <div class="col-6 col-lg-6 ">
                  <app-student-graph></app-student-graph>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
