.container {
  height: 350px;
  width: auto;
  overflow: auto;
  // aspect-ratio: 2/1;
}

table {
  thead {
    position: sticky;
    top: 0;
    background-color: aliceblue;
    // color: #fff;
    z-index: 9999;

    input {
      z-index: 11111;
    }
  }
} 

.present {
  color: #fff;
  background-color: rgba(0, 128, 0, 0.384);
}
.absent {
  color: #fff;

  background-color: rgba(255, 0, 0, 0.496);
}
