<div class="navBar">
        <mat-toolbar >
                <mat-toolbar-row>
                        <span class="px-5">My Attendence app</span>
                        <span class="example-spacer"></span>
                        <ng-container *ngIf="isLoggedIn;else notLoggedIn" >
                                <button mat-button  color="warn" routerLink="/auth" class="mx-3" (click)="logout()">Logout</button>

                        </ng-container>
                        <ng-template #notLoggedIn>
                        <button mat-button  color="" routerLink="/auth">Login</button>
                           
                        </ng-template>
                </mat-toolbar-row>
        </mat-toolbar>
</div>

